html,
body {
    background-color: #e2e2e2;
}

html,
body,
*,
*::after,
*::before {
    box-sizing: border-box;
}

.h1 {
    text-align: center;
    color: #333;
}

.article {

}

.article .title {
    background-color: #fff;
    padding: 10px;
    font-size: 18px;
    color: #666;
    margin: 16px 0;
}

.article .content {
    border-radius: 3px;
    padding: 10px;
    background-color: #fff;
    position: relative;
    margin-top: 20px;
    box-shadow: 0 0 1px 2px rgba(255, 133, 0, .3);
}

/* 旋转特效 */

#rotate {
    
}

#rotate img {
    width: 200px;
    height: 200px;
}

#rotate img:hover {
    transform: rotate(666turn);
    transition-property: all;
    transition-duration: 59s;
    transition-timing-function: cubic-bezier(0.34, 0, 0.84, 1);
}

/* 页面宽度设置 */

@media (min-width: 1401px) {
    #app {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1400px) {
    #app {
        margin-left: 160px;
        margin-right: 160px;
    }
}

@media (max-width: 1280px) and (min-width: 1025px) {
    #app {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1024px) {
    #app {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 500px) {
    #app {
        margin-left: 0;
        margin-right: 0;
    }
}

/* css检测是否支持 */

@supports (display: flex) {
    #supports .supports {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #supports .supports div {
        width: 30%;
        height: 100px;
        margin: 10px;
    }
    #supports .supports div:first-child{
        background-image: linear-gradient(to right, red 20%, green 40%, blue);
    }
    #supports .supports div:nth-child(2){
        background-image: repeating-linear-gradient(180deg, red 10%, green 20%);
    }
    #supports .supports div:nth-child(3){
        background-image: linear-gradient(180deg, red 20%, green 20%);
    }
    #supports .supports div:nth-child(4){
        background-image: radial-gradient(circle, red 10%, green 20%, blue);
    }
    #supports .supports div:nth-child(5){
        background-image: repeating-radial-gradient(circle, red 10%, green 20%);
    }
    #supports .supports div:nth-child(6){
        background-image: radial-gradient(ellipse closest-corner at center, red 10%, green 20%);
    }
    #supports .supports div:last-child{
        background-image: repeating-radial-gradient(ellipse closest-corner at center, red 10%, green 20%);
    }
}

/* css 变量使用 */

#hover-button .hover-button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgb(243, 81, 52);
    background-color: rgb(243, 81, 52);
    color: #fff;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#hover-button .hover-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    box-shadow: 0 0 0 0 rgba(44, 05, 166, 1);
}

#hover-button .hover-button:hover::after {
    left: var(--x,1);
    top: var(--y,1);
    /* background: radial-gradient(circle closest-side, #4405f7, transparent);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
    width: 200px;
    height: 200px; */
    box-shadow: 0 0 150px 50px #4405f7;
    transition: box-shadow .2s ease;
}

/* css label */
#attr .attr{
    position: relative;
}

#attr .attr::before {
    content: attr(data-label)'：';
    padding-left: 100px;
}

/* css 计算器 */
#counter .counter {
    /* counter-reset: characters; */
    counter-reset: characters 10;
}
#counter .counter input:checked {
    /* counter-increment: characters; */
    counter-increment: characters 3;
}
#counter .total::after {
    content: counter(characters);
} 
