<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>特效集</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/rain.js"></script>
</head>
<body>
    <h1 class="h1">个人特效集</h1>
    <div id="rotate" class="article">
        <h3 class="title">旋转特效 css</h3>
        <div class="content">
            <img class="rotate" src="./assets/avatar.jpeg" alt="">
        </div>
    </div>
    <div id="rain" class="article">
        <h3 class="title">下雨特效 canvas</h3>
        <div class="content">
        </div>
        <script>
            var image = new Image()
            image.onload = function() {
                var engine = new RainyDay({
                    image: this,
                    parentElement: document.getElementById("rain").getElementsByClassName('content')[0],
                    width: 300,
                    height: 300,
                    opacity: 1
                });
                engine.rain([ [1, 2, 200] ]);
                engine.rain([ [3, 3, 0.88], [5, 5, 0.9], [6, 2, 1] ], 100);
            };
            image.crossOrigin = 'anonymous';
            image.src = "./assets/avatar.jpeg"
        </script>
    </div>
    <div id="supports" class="article">
        <h3 class="title">检测是否支持 css</h3>
        <div class="content">
            <div class='supports'>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div id="hover-button" class="article">
        <h3 class="title">hover渐变button css</h3>
        <div class="content">
            <div class="hover-button">hover surprise me</div>
        </div>
        <script>
            document.querySelector('.hover-button').onmousemove = (e) => {
                const x = e.offsetX
                const y = e.offsetY
                e.target.style.setProperty('--x', `${ x }px`)
                e.target.style.setProperty('--y', `${ y }px`)
            }
        </script>
    </div>
    <div id="attr" class="article">
        <h3 class="title">attr css</h3>
        <div class="content">
            <div class='attr' data-label='label'>这个是父标签</div>
        </div>
    </div>
    <div id="counter" class="article">
        <h3 class="title">counter css</h3>
        <div class="content">
            <div class="counter">  
                <input id="c" type="checkbox"><label for="c">C</label>
                <input id="C++" type="checkbox"><label for="C++">C++</label>
                <input id="C#" type="checkbox"><label for="C#">C#</label>
                <input id="Java" type="checkbox"><label for="Java">Java</label>
                <input id="JavaScript" type="checkbox"><label for="JavaScript">JavaScript</label>
                <input id="PHP" type="checkbox"><label for="PHP">PHP</label>
                <input id="Python" type="checkbox"><label for="Python">Python</label>
                <input id="Ruby" type="checkbox"><label for="Ruby">Ruby</label>
            </div>
            <p class="total">  
                Total selected:
            </p>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>